*{
	margin: 0;
	border: 0;
	padding: 0;
}

li{
	list-style: none;
	float: left;
}
ul{
	overflow: hidden;
}
button{
	padding: 10px;
}

.shop{
	width: 1000px;
	margin: 13px auto;
	border: 1px solid black;
	border-bottom: none;
}
.shop>p{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	border-bottom: 1px solid black;
}

.shop>ul li:nth-child(1){
	width: 100px;
	text-align: center;
}
.shop>ul li:nth-child(2){
	width: 300px;
	text-align: center;
}
.shop>ul li:nth-child(3){
	width: 100px;
	text-align: center;
}
.shop>ul li:nth-child(4){
	width: 300px;
	text-align: center;
}
.shop>ul li:nth-child(5){
	width: 100px;
	text-align: center;
}
.shop>ul li:nth-child(6){
	width: 100px;
	text-align: center;
}

.title{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid black;
}
.goods{
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid black;
}

.all{
	position: fixed;
	height: 60px;
	width: 200px;
	right: 30px;
	bottom: 30px;
	background-color: #cccccc;
	line-height: 60px;
	text-align: center;
}
.est_check{
	padding-left: 100px;
}
h5{
	text-align: center;
	line-height: 30px;
	font-size: 23px;
}

